<footer class="text-center text-lg-start text-white h-100vh d-flex justify-content-between align-items-stretch flex-column" style="background-color: var(--dark)">
    <section class="d-flex justify-content-between p-4" style="background-color: var(--shade2)">
        <div class="me-5">
            <span class="fw-bold">Get connected on social networks</span>
        </div>
        <div>
            <a target="_blank" href="#" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href="#" class="text-white me-4"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="#" class="text-white me-4"><i class="fab fa-google"></i></a>
            <a target="_blank" href="#" class="text-white me-4"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="#" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="#" class="text-white me-4"><i class="fab fa-github"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <img src="/assets/news/logo_full.jpg" alt="logo_iitrpr" style="width: 200px; background-color: #fff; height: auto" class="rounded-2 p-1" />
                    <h6 class="text-uppercase fw-bold h2 mt-4">
                        Department of Electrical Engineering                    </h6>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold underline mb-3" style="color: var(--shade2)">
                        Quick Links
                    </h6>
                    <!-- Quick Links rendering here -->
                    <p>
                        <a target="_blank" href="http://117.252.3.39/index.php" class="text-white underline-hover">Classroom Booking</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/downloads/forms.html" class="text-white underline-hover">Download Forms</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/moodle" class="text-white underline-hover">Moodle and CRP</a>
                    </p>
                    <p>
                        <a target="_blank" href="https://www.iitrpr.ac.in/ee/docs/Leave%20Application.docx" class="text-white underline-hover">Leave Application form for scholars</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/" class="text-white underline-hover">IIT Ropar
                            Website</a>
                    </p>
                    <p>
                        <a target="_blank" href="https://www.google.co.in/maps/dir/Railway+Station+Rupnagar,%20%20+Ropar,+Punjab/Indian+Institute+of+Technology+Ropar+Transit+Campus/@30.9773189,76.5291587,16z/%20%20am=t/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x39055439f7aebbc3:0x232ba8e4a5b48bae!2m2!1d76.5307591!2d30.9791349!1m5!1m1!%20%201s0x0:0x5d16c2617cfdbdb8!2m2!1d76.538868!2d30.9756394" class="text-white underline-hover">How to Reach IIT Ropar</a>
                    </p>

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold underline mb-3" style="color: var(--shade2)">
                        Opportunities
                    </h6>
                    <!-- Opportunities rendering here -->
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/jobs/faculty-positions" class="text-white underline-hover">Faculty Positions</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/jobs/project-positions" class="text-white underline-hover">Ph.D. Positions</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/staff-positions" class="text-white underline-hover">Staff
                            Positions</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/how-apply" class="text-white underline-hover">Project
                            Positions</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/institute-post-doctoral-fellowship" class="text-white underline-hover">Post Doctorate Fellowship</a>
                    </p>
                    <p>
                        <a target="_blank" href="#" class="text-white underline-hover">Summer Internship</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold underline mb-3" style="color: var(--shade2)">
                        Other Links
                    </h6>
                    <!-- Other Links rendering here -->
                    <p><a target="_blank" href="http://www.iitrpr.ac.in/deans" class="text-white underline-hover">Deans</a></p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/associate-deans" class="text-white underline-hover">Associate
                            Deans</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/head-departments" class="text-white underline-hover">Head of
                            Departments</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.iitrpr.ac.in/administrative-officials" class="text-white underline-hover">Administrative
                            Officials</a>
                    </p>
                    <!-- Uncomment the following line if needed -->
                    <!-- <p><a target="_blank" href="/login" class="text-white underline-hover">Administrative Login</a></p> -->
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold h3 mb-3" style="color: var(--shade2)">
                        Contact Us
                    </h6>
                    <p>
                        <i class="fas fa-home mr-5"></i> EE-Office, Department of
                        Electrical Engineering, J.C.Block, IIT Ropar, Rupnagar, Punjab,
                        140001
                    </p>
                    <p><i class="fas fa-envelope mr-5"></i> eeoffice@iitrpr.ac.in</p>
                    <p><i class="fas fa-phone mr-5"></i> +91-1881-232202</p>
                    <!-- <p><i class="fas fa-print mr-5"></i> NA</p> -->
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <!-- Replace "path_to_your_gmap" with your Google Maps URL -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d54733.46517815982!2d76.503119!3d30.974903!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3905543310e70e63%3A0x63397d7938035537!2sRupnagar%20Old%20Bus%20Stand%2C%20Chhota%20Khera%2C%20Basant%20Nagar%2C%20Rupnagar%2C%20Punjab%20140001!3m2!1d30.966969499999998!2d76.5338166!4m5!1s0x390554d4ffffffff%3A0xb81f1e2708c91100!2sIndian%20institute%20of%20Technology%20Ropar%2C%20Bara%20Phool%2C%20Punjab%20140001!3m2!1d30.970918299999997!2d76.4731998!5e0!3m2!1sen!2sin!4v1625103532953!5m2!1sen!2sin" width="100%" height="400px" style="border: none" allowfullscreen></iframe>
    </div>
    <div class="container text-center pb-4" style="background-color: var(--dark); color: var(--light)">
        <hr />
        <div class="d-flex justify-content-between align-items-center">
            <div id="current_datetime" class="fw-bold"></div>

            <div>
                <!-- Replace the placeholder text with your copyright information -->
                Copyright © 2023 IIT Ropar. Designed & Developed by
                <a href="/team" class="text-white underline-hover">Team</a>
            </div>
                        <div class="ml-5">Website Views: 13534 </div>
        </div>
    </div>
</footer>