

    <!-- Navbar Start -->
    <a id="back-to-top_" href="#" class="btn btn-lg back-to-top" style="background-color: var(--shade2);" role="button"><i class="fas fa-chevron-up" aria-hidden="true"></i></a>
<div id="navbarCustom" class="bg-white w-100 m-0 top-0" style="z-index: 999">
    <div class="container-fluid p-0 bg-nav">
        <div class="row d-flex align-items-center mx-lg-3 mx-2" style="justify-content: space-between">
            <div class="col-12 col-lg-3 p-0">
                <div class="display-3 fw-bold p-0 text-center text-lg-center">
                    <a href="https://iitrpr.ac.in/" target="_blank">
                        <img src="/assets/new_logo.png" alt="logo" class="logo_img" />
                    </a>
                </div>
                <hr class="d-block d-lg-none" />
            </div>
            <div class="col-12 col-lg-3 p-0 justify-content-end">
                <div class="d-flex justify-content-center align-items-end flex-column px-lg-none px-0 mobile_center">

                    <div class="pb-2">


                        <div>
                            <a href="#__notification_panel" class="text-dark underline-hover">Skip
                                to main Content</a> |
                            <a href="/screen-reader-access" class="text-dark underline-hover" target="_blank">Screen Reader
                                Access</a>

                        </div>
                        <div class="d-flex justify-content-end flex-wrap flex-lg-nowrap flex-md-nowrap">
                            <div class="d-flex justify-content-end">
                                <div id="google_translate_element"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbarBgDark" data-bs-theme="dark">
            <nav class="navbar navbar-expand-lg justify-content-center justify-content-lg-between p-0">
                <button class="shadow-none d-lg-none navbar-toggler m-3 w-100 text-white text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" id="toggle-btn-custom" style="
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                border: none;
              ">
                    <span class="material-symbols-outlined">menu</span>
                    <span class="h5 d-flex justify-content-start px-3 align-items-start pt-2">
                        Menu
                    </span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                    <ul class="navbar-nav text-uppercase ps-2">
                        <!-- Main Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.iitrpr.ac.in/ee">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <!-- People Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                People
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/faculty">Faculty</a>
                                <a class="dropdown-item" href="/staff">Staff</a>
                                <a class="dropdown-item" href="/student">Students</a>
                                <a class="dropdown-item" href="/alumni">Alumni</a>
                                <a class="dropdown-item" href="/team">Website Team</a>
                            </div>
                        </li>
                        <!-- Courses Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="/course">All</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" disabled>Semester Wise</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Research Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Research
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/areas">Areas</a>
                                <a class="dropdown-item" href="/facilities">
                                    Facility
                                </a>
                                <a class="dropdown-item" href="/lab">Labs</a>
                                <a class="dropdown-item" href="/publications">
                                    Publications
                                </a>
                                <a class="dropdown-item" href="/project">
                                    Projects
                                </a>
                            </div>
                        </li>
                        <!-- Other Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="/addmissions">Admissions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/achievements">Achievements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/committe">Committee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                                            </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
</script>    <!-- Navbar End -->