/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    overflow-x: hidden !important;
    width: 100% !important;
    font-family: 'Montserrat', sans-serif !important;
}

button,
a {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-menu-value,
.goog-te-menu-value span {
    color: #000 !important;
}

.form-control:focus {
    -webkit-box-shadow: 0px 0px 7px 1px rgb(153, 209, 255);
    box-shadow: 0px 0px 7px 1px rgb(153, 209, 255);
}


/* People Card */



.people_card img {
    height: auto!important;
    -o-object-fit: cover !important;
    object-fit: cover !important;
    width: 100% !important;
    max-width: 300px !important;
    overflow: hidden;
}

@media screen and (max-width:995px) {
    .people_card {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .people_card img {
        height: auto;
        -o-object-fit: cover !important;
        object-fit: cover !important;
        width: 100% !important;
        overflow: hidden;
        max-width: 100% !important;
    }
}

.modal {
    z-index: 9999 !important;
}

* {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}


/* Style the entire select element */

select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Optional: Add rounded corners */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Remove default styles (browsers may vary in support) */
}


/* Style the dropdown arrow */

*::-moz-selection {
    background-color: var(--shade2) !important;
    color: #ffffff !important;
}

*::selection {
    background-color: var(--shade2) !important;
    color: #ffffff !important;
}


/* Section 2 */

.main_head {
    font-size: 4rem;
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

.main_head span {
    color: var(--shade2);
    font-weight: 600;
}

@media screen and (max-width:799px) {
    .main_head {
        font-size: 2rem;
    }
}

.border-bottom1 {
    border-bottom: 5px solid var(--shade2);
}

.h-100vh {
    min-height: 100vh !important;
}


/* BG SVG */

.bg1 {
    background-size: cover !important;
    background-image: url("https://www.iitrpr.ac.in/ee/css/assets/bg.svg") !important;
}

.bg2 {
    background-size: cover !important;
    background-image: url("https://www.iitrpr.ac.in/ee/css/assets/bg1.svg") !important;
}

.bg3 {
    background-size: cover !important;
    background-image: url("https://www.iitrpr.ac.in/ee/css/assets/bg2.svg") !important;
}

.bg4 {
    background-size: cover !important;
    background-image: url("https://www.iitrpr.ac.in/ee/css/assets/bg3.svg") !important;
}

.bg5 {
    background-size: cover !important;
    background-image: url("https://www.iitrpr.ac.in/ee/css/assets/bg4.svg") !important;
}

.bg6 {
    background-size: cover !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3cpath d='M1268.2778705787662 501.2488838395851L1256.7891701923959 594.8168397933892 1402.8854543162872 565.2659123960424z' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1144.81 57.3 a129.52 129.52 0 1 0 259.04 0 a129.52 129.52 0 1 0 -259.04 0z' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M646.11 95.76 a156.09 156.09 0 1 0 312.18 0 a156.09 156.09 0 1 0 -312.18 0z' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M902.715%2c459.857C956.819%2c460.645%2c1004.747%2c427.32%2c1031.629%2c380.36C1058.331%2c333.715%2c1059.579%2c277.39%2c1034.329%2c229.944C1007.394%2c179.332%2c959.979%2c135.308%2c902.715%2c138.127C848.514%2c140.795%2c816.578%2c193.614%2c791.779%2c241.883C769.686%2c284.885%2c758.214%2c333.614%2c780.142%2c376.7C804.144%2c423.861%2c849.803%2c459.087%2c902.715%2c459.857' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M201.696%2c593.918C250.091%2c597.912%2c304.572%2c586.466%2c328.116%2c543.995C351.231%2c502.298%2c326.225%2c454.155%2c301.905%2c413.15C278.271%2c373.301%2c248.011%2c332.033%2c201.696%2c330.841C153.888%2c329.61%2c113.053%2c364.745%2c92.134%2c407.751C73.552%2c445.954%2c85.351%2c489.126%2c106.898%2c525.738C128.057%2c561.692%2c160.119%2c590.487%2c201.696%2c593.918' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}


/* Micro Interactions */

.hover-scale-up,
.hover-scale-down {
    -webkit-transition: .1s ease all !important;
    -o-transition: .1s ease all !important;
    transition: .1s ease all !important;
    cursor: pointer;
}

.hover-scale-up:hover {
    -webkit-transform: scale(1.05) translateY(-5px);
    -ms-transform: scale(1.05) translateY(-5px);
    transform: scale(1.05) translateY(-5px);
}

.hover-scale-down:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}


/* Footer Links */

.underline-hover {
    position: relative !important;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.underline-hover::after {
    content: "";
    position: absolute !important;
    left: 0;
    bottom: -10%;
    width: 0%;
    height: 2px;
    background-color: var(--shade2);
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.underline-hover:hover::after {
    width: 70%;
}

.underline-hover:hover {
    color: var(--shade2) !important;
}

.underline {
    position: relative !important;
    cursor: pointer;
}

.underline::after {
    content: "";
    position: absolute !important;
    left: 1%;
    bottom: -30%;
    width: 20%;
    height: 2px;
    background-color: var(--shade2);
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.underline:hover::after {
    width: 30%;
}

@media screen and (max-width:799px) {
    .underline::after {
        left: 40%;
    }
    .underline:hover::after {
        width: 20%;
    }
}


/* Animations */

.fade-in-custom {
    -webkit-animation: fade-in-my .4s linear !important;
    animation: fade-in-my .4s linear !important;
}

@-webkit-keyframes fade-in-my {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-my {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Google Lang Select */

.goog-te-combo {
    border: none !important;
    outline: none !important;
    padding: 10px !important;
    background-color: var(--dark) !important;
    color: var(--light);
    border-radius: 5px;
    overflow: hidden;
}


/* .goog-te-gadget img {
    display: none !important;
} */

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.goog-gt-tt {
    display: none !important;
}

#goog-gt-tt {
    display: none !important;
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
    background-color: none !important;
}


/* Hide the "Achievements" element */

.goog-te-gadget-icon {
    display: none !important;
}


/* Hide the "Rate this translation" element */

.goog-te-gadget-utility {
    display: none !important;
}

body>.skiptranslate {
    display: none;
}

body {
    top: 0px !important;
}

.show_custom {
    -webkit-transition: 1s ease linear !important;
    -o-transition: 1s ease linear !important;
    transition: 1s ease linear !important;
    -webkit-animation: show_hide 0.4s linear 0s 1 both !important;
    animation: show_hide 0.4s linear 0s 1 both !important;
    visibility: hidden;
}

@-webkit-keyframes show_hide {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes show_hide {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}


/* Button */
.btn-login{
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: var(--light) !important;
}

.btn-41 {
    border: none;
    z-index: 1;
    color: var(--light) !important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: var(--shade2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: var(--shade2);
    background-color: var(--dark);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-41:hover {
    color: var(--light);
}

.btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-41:active {
    top: 2px;
}


/* Checkboxes */

.form-check-input {
    background-color: var(--shade2) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    /* border-radius: 0 !important; */
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer;
}

.hidden {
    display: none !important;
}


/* Add this for the forms  */

label {
    font-weight: bolder !important;
    color: var(--dark) !important;
}

input,
select,
textarea {
    border-color: var(--dark) !important;
    border-radius: 0px !important;
}

input::-webkit-input-placeholder {
    color: var(--dark) !important;
}

input::-moz-placeholder {
    color: var(--dark) !important;
}

input:-ms-input-placeholder {
    color: var(--dark) !important;
}

input::-ms-input-placeholder {
    color: var(--dark) !important;
}

input::placeholder {
    color: var(--dark) !important;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    transform: translateY(1000px);
}

.back-to-top-active {
    display: block;
    animation: back_to_top_ani 1s ease 1s 1 forwards;
    color: var(--light);
    transition: 1s ease all !important;
    transform: translateY(0px);
}

.back-to-top-active:hover {
    background-color: var(--dark);
    color: var(--shade2) !important;
}

@keyframes back_to_top_ani {
    from {
        opacity: 0;
        transform: translateY(1000px);
    }
    from {
        opacity: 1;
        transform: translateY(0px);
    }
}