/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.course_card_head {
    font-weight: 800 !important;
    background-color: #00000043;
    text-transform: uppercase;
    border-bottom: 2px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-top: 1px solid black !important;
    cursor: pointer;
}

.course_card_desc {
    border-bottom: 5px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    cursor: pointer;
}