/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.sticky1 {
    position: sticky !important;
    top: 0% !important;
}

.fit-content {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}


/* #navbarCustom {
    transition: 0.4s ease-in-out all !important;
    position: fixed;
} */

.textColor {
    color: var(--dark);
}

.navbarBgDark {
    background: var(--dark);
}

.navbar-nav .nav-item .active {
    color: var(--shade2) !important;
}

.nav-link:hover {
    color: var(--shade2);
}

.nav-link {
    color: var(--light);
}

.nav-link:visited,
.nav-link:focus {
    color: var(--light) !important;
}

.getBtn {
    color: var(--light) !important;
}

.sideLine {
    border-right: 1px solid var(--dark);
}

.iconHeight {
    height: 24px;
    width: 24px;
}

@media screen and (min-width: 992px) {
    .sideLine {
        border-right: none;
    }
    .iconHeight {
        height: 46px;
        width: 46px;
    }
}

.bg-nav {
    background: var(--light) !important;
}

.lang {
    background-color: var(--dark);
    outline: none !important;
    border: none !important;
    /* border-radius: 5px; */
    color: var(--light) !important;
    padding: 0;
    margin: 5px 0;
}

.hover-btn {
    border: none;
    -webkit-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    color: var(--light) !important;
}

.hover-btn:hover {
    background-color: var(--light) !important;
    color: var(--dark)!important;
}

.logo_img {
    height: 4rem;
}

@media screen and (max-width:799px) {
    .logo_img {
        height: auto;
        width: 100% !important;
        margin-top: 2%;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    margin-right: 10px;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.noti {
    opacity: 0.5;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    margin: 0;
    padding: 0;
    color: var(--light) !important;
}

.getBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.getBtn:hover {
    color: var(--shade2) !important;
    background-color: var(--light) !important;
}


/* For scrolling */

.navbar_links {
    position: fixed;
    top: 0%;
    z-index: 998 !important;
    left: 0%;
    width: 100% !important;
    /* border-radius: 10px; */
    -webkit-transition: 0.1s ease-in-out all !important;
    -o-transition: 0.1s ease-in-out all !important;
    transition: 0.1s ease-in-out all !important;
    -webkit-animation: navbar_links_animation 0.5s linear 1 both !important;
    animation: navbar_links_animation 0.5s linear 1 both !important;
    backdrop-filter: blur(8px) saturate(0%);
    -webkit-backdrop-filter: blur(8px) saturate(0%);
    background-color: rgb(0, 0, 0);
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
}

@-webkit-keyframes navbar_links_animation {
    from {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
    }
    to {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes navbar_links_animation {
    from {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
    }
    to {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}


/* Research Heighlights */

.research_container {
    width: 100%;
    min-height: 100vh !important;
    background-color: var(--dark) !important;
    color: var(--light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0;
    border-top: 5px solid var(--shade2);
}

.research_container h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.research_container span {
    color: var(--shade2);
    font-weight: 600;
}

.department_container {
    width: 100%;
    min-height: 100vh !important;
    background-color: var(--light) !important;
    color: var(--dark);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0;
    border-top: 5px solid var(--shade2);
}

.department_container h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.department_container span {
    color: var(--shade2);
    font-weight: 600;
}


/* .research_container>p {
    font-size: 0.8rem;
    margin-top: 0;
    font-weight: 50;
    color: var(--light);
    margin-bottom: 50px;

} */

.research_container .content,
.department_container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .research_container,
    .department_container {
        overflow-x: hidden !important;
        width: 100%;
    }
    .research_container h1,
    .department_container h1 {
        font-size: 2rem;
        margin-bottom: 0;
        text-align: center;
    }
    .research_container .content .research_card,
    .department_container .content .research_card {
        padding: 10px;
        margin: 5px 5px;
    }
    .research_container .content .research_card img,
    .department_container .content .research_card img {
        height: 4rem !important;
        width: auto;
    }
    .research_container .content .research_card span,
    .department_container .content .research_card span {
        font-size: 0.1rem;
        text-align: center;
        font-weight: 600;
    }
}

@media screen and (max-width:800px) {
    .research_container,
    .department_container {
        height: auto;
        overflow: hidden;
        width: 100% !important;
    }
    .research_container h1,
    .department_container h1 {
        font-size: 3rem;
        margin-bottom: 0;
        text-align: center;
    }
    .research_container p,
    .department_container p {
        text-align: center;
    }
    .research_container .content,
    .department_container .content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .research_container .content .research_card,
    .department_container .content .research_card {
        padding: 10px;
        margin: 5px 5px;
    }
    .research_container .content .research_card img,
    .department_container .content .research_card img {
        height: 5rem !important;
        width: auto;
    }
}

.research_container .content .research_card,
.department_container .content .research_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px;
    margin: 10px 20px;
}

.research_container .content .research_card img,
.department_container .content .research_card img {
    height: 150px;
    width: auto;
}

.research_container .content .research_card span,
.department_container .content .research_card span {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

.research_container .content .research_card p,
.department_container .content .research_card p {
    font-size: 1.2rem;
}


/* Notification Panel Home */

#__notification_panel {
    background-color: var(--shade2) !important;
    height: 60px !important;
}

#__notification_panel h5 {
    color: var(--light);
}

#__notification_panel>div:first-child {
    background-color: var(--dark);
}

#__notification_panel>div {
    height: 60px !important;
}

#__notification_panel marquee {
    color: var(--dark);
    font-weight: bold;
    font-size: 1.05rem;
    cursor: pointer;
    -webkit-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

#__notification_panel marquee ul li {
    margin-left: 20px;
}