/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* 
.loader_anm {
    -webkit-animation: animation1 1s linear alternate 1;
    animation: animation1 1s linear alternate 1;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999 !important;
}

.loader_container {
    background-color: var(--light) !important;
    z-index: 999999999999999999 !important;
}

@-webkit-keyframes animation1 {
    from {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes animation1 {
    from {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.bg-logo {
    position: relative;
    width: 100%;
    -webkit-animation: animation1 1s linear alternate 1;
    animation: animation1 1s linear alternate 1;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bg-logo::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("./assets/gear.loader.svg");
    background-size: 650px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .bg-logo::after {
        background-size: 200px;
    }
    #main_loader img {
        height: 200px;
    }
    .line-1 {
        font-size: 1rem;
    }
} */