/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.nav-pills .active {
    background-color: var(--shade2) !important;
}

.nav-pills .active:hover {
    background-color: var(--shade1) !important;
    color: var(--light) !important;
    font-weight: 600;
}

.nav-link {
    cursor: pointer !important;
}